/.classpath
/.project
/.settings/
*.iml
*.idea*
target/*
log4j.log*
/.classpath
/.project
/.settings/
/.settings/*
.settings
.settings/*
*.settings/*
.settings/
lib/*
/WebContent/WEB-INF/classes
/WebContent/WEB-INF/lib
/target/
