<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link href="https://fonts.googleapis.com/css?family=Finger+Paint" rel="stylesheet">
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/app.css">
</head>
<body ng-app="anotherStormUiApp">
<div class="container" ng-controller="TabCtrl"
     style="margin: 0 0 0 10px ; width: 99%; border: 0 0 0 10px ; ">
    <div class="header">
        <ul class="nav nav-pills pull-right">
            <li ng-repeat="tab in tabs"
                ng-class="{active:isActive(tab.tabId)}">
                <a ng-href="#{{tab.tabLink}}?tabName={{tab.tabName}}&tabId={{tab.tabId}}">{{tab.tabName}}</a>
            </li>
        </ul>

        <div class="text-muted">
            <h1>
                <span class="title" style="font-family: 'Finger Paint', cursive;">DATA STREAM platform</span>
            </h1>
            <span><i></i></span></div>
        </div>

    <div ng-view="" style="margin: 0 0 0 0;width: 100%"></div>

    <div class="footer">
        <p><span class="glyphicon glyphicon-heart"></span>赢时胜</p>
    </div>
</div>


<script src="bower_components/es5-shim/es5-shim.js"></script>
<script src="bower_components/json3/lib/json3.js"></script>
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-touch/angular-touch.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/app.js"></script>
<script src="scripts/controllers/main.js"></script>
<script src="scripts/controllers/about.js"></script>
<script src="scripts/controllers/tab.js"></script>
<script src="scripts/controllers/docker.js"></script>
<script src="scripts/controllers/overview.js"></script>
<script src="scripts/controllers/topo.js"></script>
<script src="scripts/controllers/host.js"></script>
<script src="scripts/controllers/settings.js"></script>
<script src="scripts/controllers/stormUpload.js"></script>
<script src="scripts/controllers/streamManager.js"></script>
<script src="scripts/controllers/yarn.js"></script>
<script src="scripts/controllers/nodeM.js"></script>
<script src="scripts/controllers/login.js"></script>
<!-- endbuild -->

<!-- Flowchart code. -->
<script src="flowchart/svg_class.js" type="text/javascript"></script>
<script src="flowchart/mouse_capture_service.js" type="text/javascript"></script>
<script src="flowchart/dragging_service.js" type="text/javascript"></script>
<script src="flowchart/flowchart_viewmodel.js" type="text/javascript"></script>
<script src="flowchart/flowchart_directive.js" type="text/javascript"></script>

</body>
</html>
