<div style="margin-bottom: 10px">


  <form method="post" action="settingsSet" enctype="multipart/form-data">
    stormZookeeper:<input type="text" name="stormZk" id="stormZk" class="form-control" placeholder="sofastream 所连接的storm集群地址"
                         value="{{settingDatas.stormZk}}" maxlength="245"  style="margin-bottom:10px" />

    fs.defaultFS:<input type="text" name="hdfs" id="hdfs" class="form-control" placeholder="hdfs地址" ng-trim="true"
                        value="{{settingDatas.hdfs}}" maxlength="245"  style="margin-bottom: 10px" />

    yarn.resourcemanager.address:<input type="text" name="yarn" id="yarn" class="form-control" placeholder="yarn.resourcemanager.address-url"
                                        value="{{settingDatas.yarn}}" maxlength="245"  style="margin-bottom: 10px" />

    yarn.resourcemanager.scheduler.address:<input type="text" name="yarns" id="yarns" class="form-control" placeholder="yarn.resourcemanager.scheduler.address-url"
                                                  value="{{settingDatas.yarns}}" maxlength="245"  style="margin-bottom: 10px" />

    yarn.resourcemanager.ui.address:<input type="text" name="yarnui" id="yarnui" class="form-control" placeholder="yarn.address-url"
                                                  value="{{settingDatas.yarnui}}" maxlength="245"  style="margin-bottom: 10px" />

    yarnJavaHome:<input type="text" name="yarnJavaHome" id="yarnJavaHome" class="form-control" placeholder="yarn集群机器中jdk所在的安装路径，例:/opt/jdk7"
                                           value="{{settingDatas.yarnJavaHome}}" maxlength="245"  style="margin-bottom: 10px" />
    yarnHadoopHome:<input type="text" name="yarnHadoopHome" id="yarnHadoopHome" class="form-control" placeholder="yarn集群机器中jdk所在的安装路径，例:/opt/2.8.0"
                        value="{{settingDatas.yarnHadoopHome}}" maxlength="245"  style="margin-bottom: 10px" />


    <input type="submit" type="button" class="btn btn-info" style="margin-bottom: 10px"/>
  </form>

  <!--<button type="button" class="btn btn-info" ng-click="setStormURL(stormURL.value)" style="margin-bottom: 10px">-->
    <!--Update Storm URL-->
  <!--</button>-->



</div>
