<div style="margin-bottom: 10px">

    <!-- Font for title -->
    <link href="https://fonts.googleapis.com/css?family=Finger+Paint" rel="stylesheet">

    <script>

    </script>
<div class="container-fluid">
    <div class="row title">
        <div class="col-xs-4 yarn_status_col">
            <div id="yarn_status_wrapper" class="dataTables_wrapper no-footer">
                <table id="yarn_status" class="nowrap table table-condensed dataTable no-footer" width="100%" cellspacing="0" role="grid" style="width: 100%;">
                    <thead>
                    <tr role="row">
                        <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 64px;"><a title="Active / Total Nodes" href="http://zhangc1:8088/ws/v1/cluster/nodes">Nodes</a></th>
                        <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 68px;"><a title="Available / Total VCPUs" href="http://zhangc1:8088/ws/v1/cluster/apps">VCPUs</a></th>
                        <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 95px;"><a title="Available / Total RAM in GB" href="http://zhangc1:8088/ws/v1/cluster/scheduler">RAM (GB)</a></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="odd">
                        <td class="sorting_disabled" rowspan="1" colspan="1" style="width: 64px;">{{yarn.totalNodes}}</td>

                        <td class="sorting_disabled" rowspan="1" colspan="1" style="width: 64px;">{{yarn.totalVirtualCores}}</td>

                        <td class="sorting_disabled" rowspan="1" colspan="1" style="width: 64px;">{{yarn.totalMB}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <h4>apps</h4>
    <table class="table table-hover table-condensed">
        <thead>
        <tr>
            <th>appId</th>
            <th>Name</th>
            <th>User</th>
            <th>State</th>
            <th>Progress</th>
            <th>VCPUs</th>
            <th>Memory (GB)</th>
            <th>Queue</th>
            <th>amHostHttpAddress</th>
            <th>Local Start Time</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="app in yarn.apps.apps.app" class="active">
            <td>{{app.id}}</td>
            <td>{{app.name}}</td>
            <td>{{app.user}}</td>
            <td>{{app.state}}</td>
            <td>{{app.process}}</td>
            <td>{{app.allocatedVCores}}</td>
            <td>{{app.allocatedMB}}</td>
            <td>{{app.queue}}</td>
            <td>{{app.amHostHttpAddress}}</td>
            <td>{{app.startedTime}}</td>
        </tr>
        </tbody>
    </table>

    <h4>dockerJobs</h4>
    <table class="table table-hover table-condensed">
        <thead>
        <tr>
            <th>jobId</th>
            <th>address</th>
            <th>netUrl</th>
            <th>iPBind</th>
            <th>businessType</th>
            <th>businessTag</th>
            <th>VCPUs</th>
            <th>memory(MB)</th>
            <th>state</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="job in yarn.dockerjobs" class="active">
            <td>{{job.jobId}}</td>
            <td>{{job.runIp}}</td>
            <td>{{job.netUrl}}</td>
            <td>{{job.iPBind}}</td>
            <td>{{job.businessType}}</td>
            <td>{{job.businessTag}}</td>
            <td>{{job.cpu}}</td>
            <td>{{job.memory}}</td>
            <td>{{job.state}}</td>
        </tr>
        </tbody>
    </table>
</div>
    <!--<div ng-include="'partials/progress_popover.html'"></div>-->
    <!--<div ng-include="'partials/name_link.html'"></div>-->
    <!--<div ng-include="'partials/progress_container.html'"></div>-->
    <!--<div ng-include="'partials/progress.html'"></div>-->

</div>