<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
   http://www.springframework.org/schema/context
   http://www.springframework.org/schema/context/spring-context-3.0.xsd">

    <context:component-scan base-package = "com.yss" />

    <!--<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver"-->
                <!--p:defaultEncoding="UTF-8"-->
                <!--p:maxUploadSize="5400000">-->
    <!--</bean>-->

    <bean id="testHandler" class="com.yss.TestHandler"/>

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations"> <!-- PropertyPlaceholderConfigurer类中有个locations属性，接收的是一个数组，即我们可以在下面配好多个properties文件 -->
            <array>
                <value>classpath:conf.properties</value>
            </array>
        </property>
    </bean>


    <bean id="stormSubmiter" class="com.yss.storm.submit.StormRemoteJarSubmiter">
         <property name="remoteZKServer" value="${zkServerHost}" />
         <property name="remoteZKPort" value="${zkServerPort}" />
    </bean>

    <bean id="stormNodesService" class="com.yss.storm.StormNodesService" />

    <bean id="stormRestClient" class="com.yss.storm.monitor.StormRestClient"/>

    <bean id="stormMonitorRestApiService" class="com.yss.storm.monitor.StormMonitorRestApiService"/>

    <bean id="yarnThriftClient" class="com.yss.yarn.discovery.YarnThriftClient"/>

    <bean id="yarnMasterServerDiscovery" class="com.yss.yarn.discovery.YarnMasterServerDiscovery"/>

    <bean id="yarnLaunchService" class="com.yss.yarn.launch.YarnLaunch">
        <property name="appName" value="${yarnAppName}" />
        <property name="defaultQueue" value="${yarnQueue}" />
        <property name="amSize" value="${amSize}" />
        <property name="classPath" value="${appMasterClassPath}" />
        <!--<property name="yarnConf">-->
            <!--<map>-->
                <!--<entry key="fs.defaultFS" value="${fs.defaultFS}" />-->
                <!--<entry key="yarn.resourcemanager.address" value="${yarn.resourcemanager.address}" />-->
                <!--<entry key="yarn.resourcemanager.scheduler.address" value="${yarn.resourcemanager.scheduler.address}"/>-->
            <!--</map>-->
        <!--</property>-->
    </bean>

    <bean id="yarnMonitorRestClient" class="com.yss.yarn.monitor.YarnMonitorRestClient"/>

    <bean id="yarnMonitorService" class="com.yss.yarn.monitor.YarnMonitorService" />

</beans>